<h2><%= @song.title %></h2>
<ul>
  <li>Released: <%= @song.released %></li>
  <li>Release year:<%= @song.release_year %></li>
  <li>Artist Name: <%= @song.artist_name %></li>
  <li>Genre: <%= @song.genre %></li>
</ul>